@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingAgain {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.item {
  margin: 0 auto;
  margin-top: 5px;
  flex: 0 0 25%;
  background-color: var(--polaroid);
  animation: swing 3s;
  border: 2px solid var(--background);
  border-radius: 10px;
  transition: all 0.8s;
  padding: 20px 20px 40px 20px;
  width: 200px;
  &__pin {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -20px;
    box-shadow: 1px 0px 5px darken(#bbb, 5%);
  }
  &__image {
    border: 2px solid var(--background);
    display: flex;
    margin: 0 auto;
    transition: all 0.8s;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  &__text {
    list-style: none;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--text-primary);
    text-align: center;
    white-space: nowrap;
    width: 100%;
    transition: width 0.8s ease;
    &--title {
      font: 16px "Tahoma";
      font-weight: 600;
    }
    &--description {
      font: 12px "Tahoma";
      font-weight: 200;
      font-style: italic;
    }
  }
}

.item:hover {
  animation: swingAgain 3s;
  cursor: pointer;
}

.item:active {
  filter: brightness(95%);
}

[data-theme="dark"] {
  .item {
    filter: brightness(102%);
  }
  .item:hover {
    cursor: pointer;
    filter: brightness(105%);
  }

  .item:active {
    filter: brightness(115%);
  }
}
.item:active > .item__image {
  filter: brightness(100%) !important;
}
