@keyframes revealDisplay {
  0% {
    transform: translate(0, 100vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.display {
  &__container {
    animation: revealDisplay 1.5s;
    animation-iteration-count: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 2rem;
    overflow-y: scroll;
    max-height: calc(100vh - 20px - 38px - 2rem - 20px);
  }
}

.display__container::-webkit-scrollbar {
  width: 1em;
}

.display__container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border: 2px solid var(--background);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .display__container::-webkit-scrollbar {
    width: initial;
  }
}
