body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #e4deda;
  --text-primary: #141414;
  --scrollbar: #d9d1cb;
  --polaroid: #faf8f7;
}
[data-theme="dark"] {
  --background: #141414;
  --text-primary: #e4deda;
  --scrollbar: #212121;
  --polaroid: #3a3a3a;
}
